.homeIndex {
  z-index: 0;
}

.home {
margin: 0;
padding: 0;
z-index: -2;
}

.Home-Div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #00000061;
}

.Hero {
  margin: 20px;
  width: 80%;
  box-shadow: #000000 0px 0px 20px 20px;
}

.Slogan {
  position: absolute;
  width: 35%;
}

.Slogan:hover {
  padding: 1%;
    border-radius: 18px;
    position: absolute;
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    /* background-color: #03f4d73d; */
    box-shadow: 7px 7px 20px 1px #03e8f4;
}

.Facts-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.fact {
  background-color: #f9f9f975;;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.fact h3 {
  margin-top: 0;
}

.Slider-Section {
  margin-top: 20px;
}


@media (max-width: 768px) {

  .fact {
    width: 85%;
  }
  
  .fact h3 {
    font-size: large;
  }

  .fact p {
    font-size: medium;
  }

  .Hero {
    width: 85%;
    z-index: -1;
  }

  .Slogan {
    z-index: -1;
  }
}